/* --------------------------------------- */
/* ----------- MAIN ---------------------- */
/* --------------------------------------- */
main{}
/* --------------------------------------- */
/* -------- SPECIFIQUE TITRE H1 ---------- */
/* --------------------------------------- */
h1 {}
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */ 
/* ----------- RANGEES ICONES ------------ */
.ROW{
    /*height: auto;
    width: ;*/
    /*position: absolute;*/
    /*top: 20vh;*/
    padding: 23vh;
    opacity: 0;
/* ---------------- FLEX ----------------- */
        display: -ms-flexbox;
        display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }
/* --------------------------------------- */ 
.FREDLINKS {
    width: 20vw;
    display: inline-block;
    float: left;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 900;
    line-height: 4vh;
    color: rgb(255,206,62);
    margin: 1vh;
    background-color: rgba(150,150,150,.2);
/* --------------------------------------- */ 
    text-shadow: 1px 0 0 rgb(60,60,60), -1px 0 0 rgb(60,60,60), 0 1px 0 rgb(60,60,60), 
    0 -1px 0 rgb(60,60,60), 1px 1px rgb(60,60,60), -1px -1px 0 rgb(60,60,60), 
    1px -1px 0 rgb(60,60,60), -1px 1px 0 rgb(60,60,60);
    }
/* --------------------------------------- */ 
.FREDLINKS:hover{
    color: white;
    }
/* --------------------------------------- */

/* --------------------------------------- */
/* ----------- FIN MAIN ------------------ */
/* --------------------------------------- */

/* --------------------------------------- */
/* ------------ RESPONSIVE --------------- */
/* --------------------------------------- */
/* ------------ RESPONSIVE PORTRAIT ------ */
/* --------------------------------------- */
@media screen and (orientation: portrait) and (min-width: 240px){
/* --------------------------------------- */
/* ----------- MAIN ---------------------- */

/* ----------- RANGEES ICONES ------------ */
.ROW{
    /*width: auto;*/
    /*top: 20vh;*/
    }
/* --------------------------------------- */ 
.FREDLINKS {
    width: 50vw;
    font-size: 3vw;
    line-height: 4vw;
/* ----------- COLONNE LIENS ------------- */

/* ----------- FIN MAIN ------------------ */
/* --------------------------------------- */
}
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
/* ------------ RESPONSIVE PAYSAGE ------- */
/* --------------------------------------- */
@media screen and (orientation: landscape) and (min-width: 480px){
/* --------------------------------------- */
/* ----------- MAIN ---------------------- */

/* ----------- FIN MAIN ------------------ */
/* --------------------------------------- */
} 
/* --------------------------------------- */
/* ----------- 2018/12 ------------------- */
/* --------------------------------------- */