/* --------------------------------------- */
*{margin: 0 auto; padding: 0;}
/* --------------------------------------- */
/* -------- EXACT HEIGHT 2019/02 --------- */
/* --------------------------------------- */
html{height: 100vh;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;}
/* --------------------------------------- */
/* -------- EXACT HEIGHT 2019/02 --------- */
/* --------------------------------------- */ 

/* --------------------------------------- */ 
/* --------------- FONTS ----------------- */
/* --------------------------------------- */ 
/* ------------- Menu + base ------------- */
/* --------------------------------------- */ 
@font-face {
  font-family: PISTARA;
  src: url(Pistara.woff);
    }
.PISTARA {
  font-family: PISTARA;
    }
/* --------------------------------------- */ 
/* ----------- Bandeau Titre ------------- */
/* --------------------------------------- */ 
@font-face {
  font-family: LAPSUS;
  src: url(fonts/LapsusPro-Bold.woff);
    }
/* --------------------------------------- */ 
/* --------------- BODY ------------------ */
/* --------------------------------------- */ 

/* ------------ BACKGROUNDS -------------- */
/* --------------------------------------- */
/* -------- SPE-BODY-ACCUEIL-FRED -------- */
/* --------------------------------------- */
#SPE-FRED{   
    background-image: url("fred_imgs/idiotes_paysage.jpg");
    background-size: 100vw auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    }
/* --------------------------------------- */
/* -------- SPE-BODY-LINKS --------------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* -------- SPE-BODY-ACCUEIL-ARCHI ------- */
/* --------------------------------------- */
#SPE-ARCHI{   
    background: url("fred_archi/imgs_archi/fond_architecture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgb(30,30,30);
    }
/* --------------------------------------- */ 
/* ---------- STANDARD BODY -------------- */
/* --------------------------------------- */ 
body{   
    height: 100vh;
    width: 100%;
    text-align: center;
/* --------------------------------------- *//* --------------------------------------- */
/* ---------- FOND GENERAL --------------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
    background-color: rgb(150,150,150);
/* --------------------------------------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
/* ----------- DEFAULT FONT -------------- */
    font-family: PISTARA;
/* --------------------------------------- */
	position: relative;
/* --------------------------------------- */
    overflow: hidden;
    }
/* --------------------------------------- */ 
/* ---------- FIN BODY ------------------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* ---------- HEADER 5VH ----------------- */
/* --------------------------------------- */
header{height: 5vh; width: 100%;
/* ---------- MENU DEROULANT ------------- */
    position: fixed;
    z-index: 999;
/* --------------------------------------- */
    /*background-color: orange;*/
/* --------------------------------------- */
    }
/* --------------------------------------- */
/* ---------- MENU 5VH ------------------- */
/* --------------------------------------- */
#MENU{height: 5vh; width: 100%;}
/* --------------------------------------- */
#FRED_MAIN, #ARCHI, #TROISDUN, #TROISDDEUX, #DEUXD{height: 5vh; width: 20%;
    float: left;
/* ---------- FLEX ----------------------- */
        display: -ms-flexbox;
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    align-items: center;
/* --------------------------------------- */
    /*background-color: red;*/
/* --------------------------------------- */
    }
/* --------------------------------------- */
.SOUS-MENU{height: 5vh; width: 100%;
/* ------ smooth hover effect ------------ */
    transition: 0.4s;
/* --------------------------------------- */
    /*background-color: green;*/
/* --------------------------------------- */
    }
/* ----------- TITRES-MENU --------------- */
#MENU p{height: 5vh; 
/* ----------- TITRES SIZE --------------- */
    font-size: 3vh;
/* --------------------------------------- */
    font-weight: 900;
/* --------------------------------------- */
    width: 100%;
/* ---------- FLEX ----------------------- */
        display: -ms-flexbox;
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    align-items: center;
/* --------------------------------------- */
    /*background-color: green;*/
/* --------------------------------------- */
    } 
/* --------------------------------------- */
#MENU a{display: inline-block;}
/* --------------------------------------- */
.TITLE{transform: scaleX(1) scaleY(1);
/* ------ smooth hover effect ------------ */
    transition: 0.3s;}
/* --------------------------------------- */
.TITLE i{
    font-size: 3vh;
    line-height: 4.5vh;
    font-weight: 900;
    }
/* --------------------------------------- */
.DEROULANT{
    position: relative;
/* --------------------------------------- */
    height: auto;
    width: 100%;
/* --------------------------------------- *//* --------------------------------------- */
    opacity: 0;
/* --------------------------------------- *//* --------------------------------------- */
/* ---------- FLEX ----------------------- */
        display: -ms-flexbox;
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    align-items: center;
/* --------------------------------------- */
    }
/* --------------------------------------- */
.DEROULANT a{
/* ----------- LIENS MENU ---------------- */
    font-size: 3vh;
    line-height: 4.5vh;
    font-weight: 900;
    font-family: PISTARA;
/* ------ smooth hover effect ------------ */
    transition: 0.4s;
/* --------------------------------------- */
    width: 100%;
    text-decoration: none;  
    color: rgb(180,180,180);
    text-shadow: 1px 0 0 rgb(0,0,0), -1px 0 0 rgb(0,0,0), 0 1px 0 rgb(0,0,0), 0 -1px 0 rgb(0,0,0), 
    1px 1px rgb(0,0,0), -1px -1px 0 rgb(0,0,0), 1px -1px 0 rgb(0,0,0), -1px 1px 0 rgb(0,0,0)

    ,1px 0 10px rgb(190,190,190), -1px 0 10px rgb(190,190,190), 0 1px 10px rgb(190,190,190), 0 -1px 10px rgb(190,190,190), 
    1px 1px 10px rgb(190,190,190), -1px -1px 10px rgb(190,190,190), 1px -1px 10px rgb(190,190,190), -1px 1px 10px rgb(190,190,190)
    ;
/* ---------- FLEX ----------------------- */
        display: -ms-flexbox;
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    align-items: center;
/* --------------------------------------- */
    }
/* --------------------------------------- */
.SOUS-MENU:hover .DEROULANT{opacity: 1;}
/* --------------------------------------- */
.DEROULANT a:hover{color: rgb(255,255,255);
    text-shadow: 1px 0 0 rgb(190,190,190), -1px 0 0 rgb(190,190,190), 0 1px 0 rgb(190,190,190), 0 -1px 0 rgb(190,190,190), 
    1px 1px rgb(190,190,190), -1px -1px 0 rgb(190,190,190), 1px -1px 0 rgb(190,190,190), -1px 1px 0 rgb(190,190,190)

    ,1px 0 10px rgb(190,190,190), -1px 0 10px rgb(190,190,190), 0 1px 10px rgb(190,190,190), 0 -1px 10px rgb(190,190,190), 
    1px 1px 10px rgb(190,190,190), -1px -1px 10px rgb(190,190,190), 1px -1px 10px rgb(190,190,190), -1px 1px 10px rgb(190,190,190)

    ,1px 0 25px rgb(190,190,190), -1px 0 25px rgb(190,190,190), 0 1px 25px rgb(190,190,190), 0 -1px 25px rgb(190,190,190), 
    1px 1px 25px rgb(190,190,190), -1px -1px 25px rgb(190,190,190), 1px -1px 25px rgb(190,190,190), -1px 1px 25px rgb(190,190,190)
    }
/* -------- MENU COULEUR TITRES --------- */
#FRED_MAIN p{color: rgb(120,120,120);}
#ARCHI p, #TROISDUN p, #TROISDDEUX p, #DEUXD p{
    color: rgb(120,120,120);
    }
/* --------------------------------------- */
#FRED_MAIN:hover p, #ARCHI:hover p, #TROISDUN:hover p, #TROISDDEUX:hover p, #DEUXD:hover p{
    color: rgb(255,255,255);
    text-shadow: 1px 0 0 rgb(190,190,190), -1px 0 0 rgb(190,190,190), 0 1px 0 rgb(190,190,190), 0 -1px 0 rgb(190,190,190), 
    1px 1px rgb(190,190,190), -1px -1px 0 rgb(190,190,190), 1px -1px 0 rgb(190,190,190), -1px 1px 0 rgb(190,190,190)

    ,1px 0 25px rgb(190,190,190), -1px 0 25px rgb(190,190,190), 0 1px 25px rgb(190,190,190), 0 -1px 25px rgb(190,190,190), 
    1px 1px 25px rgb(190,190,190), -1px -1px 25px rgb(190,190,190), 1px -1px 25px rgb(190,190,190), -1px 1px 25px rgb(190,190,190)

    ,1px 0 45px rgb(190,190,190), -1px 0 45px rgb(190,190,190), 0 1px 45px rgb(190,190,190), 0 -1px 45px rgb(190,190,190), 
    1px 1px 45px rgb(190,190,190), -1px -1px 45px rgb(190,190,190), 1px -1px 45px rgb(190,190,190), -1px 1px 45px rgb(190,190,190)
    }
/* --------------------------------------- *//* --------------------------------------- */
/* ----------- ANIMATION HEADER ---------- *//* --------------------------------------- */
/* ------------ DELAI : 0.0S ------------- *//* --------------------------------------- */
/* ------------ DUREE : 1.0S ------------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
header{
        -webkit-animation-delay: 0s;
    animation-delay: 0s;
    animation-duration: 1.2s;
    animation-name: HEADER-ANIM;
    animation-timing-function: linear;
    animation-fill-mode: forwards;  
    }
@keyframes HEADER-ANIM {
    0%   {opacity: 0;}
    25%   {opacity: 0;}
    40%   {opacity: .1;}
    50%   {opacity: .3;}
    100% {opacity: 1;}
    }
/* --------------------------------------- *//* --------------------------------------- */
/* ----------- FIN ANIMATION HEADER ------ *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */

/* --------------------------------------- */
/* ---------- HEADER 5VH ----------------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* ----------- MAIN ---------------------- */
/* --------------------------------------- */
main{width: 100vw; height: 90vh;
    position: absolute;
    top: 5vh;
    /*left: 15vw;*/
/* --------------------------------------- */
    /*background-color: yellow;*/
/* --------------------------------------- */
    }
/* --------------------------------------- */
h1 {font-size: 10vh; line-height: 10vh; height: 14vh; 
/* --------------------------------------- *//* --------------------------------------- */
    position: absolute;
    top: 40%;
    left: 0%;
/* --------------------------------------- */
    width: 100%;
/* --------------------------------------- *//* --------------------------------------- */
    color: red; 
/* --------------------------------------- */
    text-shadow: 2px 0 0 rgb(0,0,0), -2px 0 0 rgb(0,0,0), 0 2px 0 rgb(0,0,0), 0 -2px 0 rgb(0,0,0), 
    2px 2px rgb(0,0,0), -2px -2px 0 rgb(0,0,0), 2px -2px 0 rgb(0,0,0), -2px 2px 0 rgb(0,0,0);
/* --------------------------------------- *//* --------------------------------------- */
    opacity: 0;
/* --------------------------------------- *//* --------------------------------------- */
    font-family: LAPSUS;
/* ---------------- FLEX ----------------- */
        display: -ms-flexbox;
        display: -webkit-flex;
    display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
    align-items: center;
/* --------------------------------------- */
    /*background-color: yellow;*/
/* --------------------------------------- */ 
    z-index: 99;
    }
/* --------------------------------------- *//* --------------------------------------- */
/* ----------- ANIMATION H1 -------------- *//* --------------------------------------- */
/* ------------ DELAI : 0.0S ------------- *//* --------------------------------------- */
/* ------------ DUREE : 4.0S ------------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
h1{
        -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    animation-duration: 6s;
    animation-name: ANIM-TITRE;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;  
    }
@keyframes ANIM-TITRE {
    0%  {opacity: 0; z-index:10;}
    10% {}
    20% {opacity: .6;}
    30% {}
    40% {opacity: .8;}
    50% {opacity: .9; transform: rotate(0deg)}
    60% {opacity: 1;}
    70% {transform: rotate(-90deg) translate(0,0)}
    75% {}
    80% {opacity: 1;}
    90% {}
    99% {}
    100% {opacity: .3; transform: rotate(-90deg) translate(0vw,-45vw); z-index:99;}    
    }
/* --------------------------------------- *//* --------------------------------------- */
/* ----------- FIN ANIMATION H1 ---------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */

/* --------------------------------------- *//* --------------------------------------- */
/* ----------- ANIMATION CONT ------------ *//* --------------------------------------- */
/* ------------ DELAI : 0.0S ------------- *//* --------------------------------------- */
/* ------------ DUREE : 4.0S ------------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
.ROW{
        -webkit-animation-delay: 1s;
    animation-delay: 1s;
    animation-duration: 2.5s;
    animation-name: BOX-ANIM;
    animation-timing-function: linear;
    animation-fill-mode: forwards;   
    }
@keyframes ROW-ANIM {
    0%   {opacity: 0;}
    50%   {opacity: .1;}
    75% {opacity: .2;}
    100% {opacity: 1;}
    }
/* --------------------------------------- */
.BOX, .BOX-H{
        -webkit-animation-delay: 1s;
    animation-delay: 1s;
    animation-duration: 2.5s;
    animation-name: BOX-ANIM;
    animation-timing-function: linear;
    animation-fill-mode: forwards;  
    }
@keyframes BOX-ANIM {
    0%   {opacity: 0;}
    50%   {opacity: .1;}
    75% {opacity: .2;}
    100% {opacity: 1;}
    }
/* --------------------------------------- *//* --------------------------------------- */
/* ----------- FIN ANIMATION CONT -------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */

/* --------------------------------------- */
/* ----------- FIN MAIN ------------------ */
/* --------------------------------------- */

/* --------------------------------------- */
/* ---------- FOOTER 5VH ----------------- */
/* --------------------------------------- */
footer{  
/* --------------------------------------- */
/* --------------------------------------- */ 
	width: 100vw;
/* --------------------------------------- */
/* --------------------------------------- */
    height: 5vh;
/* --------------------------------------- */
	position: absolute;
	bottom: 0;
/* --------------------------------------- */
/* --------- SPE ANIMATION --------------- */
/* --------------------------------------- */
    opacity: 0;
/* --------------------------------------- */
    /*background-color: white;*/
/* --------------------------------------- */
    }
/* --------------------------------------- */
footer a, footer p, footer i{  
    font-size: 3vh;
    line-height: 5vh;
    font-weight: 900;
    }
/* --------------------------------------- */
footer a{text-decoration: none;}
/* --------------------------------------- */
.FOOTER-LVLTWO{
/* --------------------------------------- */
/* --------------------------------------- */ 
    width: 90vh;
/* --------------------------------------- */
/* --------------------------------------- */
    height: 5vh;
/* --------------------------------------- */
   /*background-color: orange;*/
/* --------------------------------------- */  
    }
/* --------------------------------------- */  
/* ------------- CONTACT ----------------- */
/* --------------------------------------- */  
.CONTACT{
/* --------------------------------------- */
/* --------------------------------------- */ 
    width: 25vh;
/* --------------------------------------- */
/* --------------------------------------- */
    height: 5vh;
    /*font-size: 3vh;*/
/* --------------------------------------- */
    float: left;
/* --------------------------------------- */
    /*background-color: rgb(180,180,180);*/
/* --------------------------------------- */
    }
/* --------------------------------------- */ 
.CONTACT a{}
/* --------------------------------------- */ 
.CONTACT i{
	/*font-size: 3vh;*/
	/*line-height: 5vh;*/
/* --------------------------------------- */ 
	/*background-color: red;*/
/* --------------------------------------- */ 
	} 
/* --------------------------------------- */ 
#MAIL{
    width: 5vh;
    color: rgb(90,90,90);
    /*font-size: 3vh;*/
    /*line-height: 5vh;*/
    font-weight: 900;
    /*font-family: PISTARA;*/
/* ------ smooth hover effect ------------ */
    transition: 0.4s;
/* --------------------------------------- */
    /*width: 7vh;*/
    height: 5vh;
    /*padding-left: 1vh;*/
    float: left;
/* --------------------------------------- */
    /*background-color: red;*/
/* --------------------------------------- */
    }
#MAIL:hover{
    color: rgb(255,255,255);
    text-shadow: 1px 0 0 rgb(190,190,190), -1px 0 0 rgb(190,190,190), 0 1px 0 rgb(190,190,190), 0 -1px 0 rgb(190,190,190), 
    1px 1px rgb(190,190,190), -1px -1px 0 rgb(190,190,190), 1px -1px 0 rgb(190,190,190), -1px 1px 0 rgb(190,190,190)

    ,1px 0 25px rgb(190,190,190), -1px 0 25px rgb(190,190,190), 0 1px 25px rgb(190,190,190), 0 -1px 25px rgb(190,190,190), 
    1px 1px 25px rgb(190,190,190), -1px -1px 25px rgb(190,190,190), 1px -1px 25px rgb(190,190,190), -1px 1px 25px rgb(190,190,190)

    ,1px 0 45px rgb(190,190,190), -1px 0 45px rgb(190,190,190), 0 1px 45px rgb(190,190,190), 0 -1px 45px rgb(190,190,190), 
    1px 1px 45px rgb(190,190,190), -1px -1px 45px rgb(190,190,190), 1px -1px 45px rgb(190,190,190), -1px 1px 45px rgb(190,190,190)
    }
/* --------------------------------------- */
.MAIL-TXT{
    width: 5vh;
    height: 5vh;
/* --------------------------------------- */
    float: left;
/* --------------------------------------- */
    line-height: 5vh;
    color: rgb(90,90,90);
/* --------------------------------------- */
    }
/* --------------------------------------- */
.MAIL-TXT:hover{
    color: rgb(255,255,255);
    text-shadow: 1px 0 0 rgb(190,190,190), -1px 0 0 rgb(190,190,190), 0 1px 0 rgb(190,190,190), 0 -1px 0 rgb(190,190,190), 
    1px 1px rgb(190,190,190), -1px -1px 0 rgb(190,190,190), 1px -1px 0 rgb(190,190,190), -1px 1px 0 rgb(190,190,190)

    ,1px 0 25px rgb(190,190,190), -1px 0 25px rgb(190,190,190), 0 1px 25px rgb(190,190,190), 0 -1px 25px rgb(190,190,190), 
    1px 1px 25px rgb(190,190,190), -1px -1px 25px rgb(190,190,190), 1px -1px 25px rgb(190,190,190), -1px 1px 25px rgb(190,190,190)

    ,1px 0 45px rgb(190,190,190), -1px 0 45px rgb(190,190,190), 0 1px 45px rgb(190,190,190), 0 -1px 45px rgb(190,190,190), 
    1px 1px 45px rgb(190,190,190), -1px -1px 45px rgb(190,190,190), 1px -1px 45px rgb(190,190,190), -1px 1px 45px rgb(190,190,190)
    }
/* --------------------------------------- */  
/* ------------ COPYRIGHT ---------------- */
/* --------------------------------------- */ 
.COPYRIGHT{
/* --------------------------------------- */
/* --------------------------------------- */ 
    width: 25vh;
/* --------------------------------------- */
/* --------------------------------------- */
    height: 5vh;
    position: relative;
/* --------------------------------------- */
    float: left;
/* --------------------------------------- */
    /*font-size: 2.6vh;*/
/* --------------------------------------- */
   /* line-height: 5vh;*/
/* --------------------------------------- */
    color: white;
    text-shadow: 1px 0 0 rgb(90,90,90), -1px 0 0 rgb(90,90,90), 0 1px 0 rgb(90,90,90), 0 -1px 0 rgb(90,90,90), 
    1px 1px 0 rgb(90,90,90), -1px -1px 0 rgb(90,90,90), 1px -1px 0 rgb(90,90,90), -1px 1px 0 rgb(90,90,90);
    font-weight: 900;
/* --------------------------------------- */
    /*background-color: grey;*/
/* --------------------------------------- */
    }
/* --------------------------------------- */
.COPY-R{
    width: auto;
    height: 5vh;
    position: absolute;
    right:5px;
/* --------------------------------------- */
    /*background-color: red;*/
/* --------------------------------------- */
    }
/* --------------------------------------- */  
/* ------------ NEXT-PREVIOUS ------------ */
/* --------------------------------------- */ 
.PREVIOUS-ACTIVE-PAGE, .PREVIOUS-INACTIVE-PAGE
    {
/* --------------------------------------- */
/* --------------------------------------- */ 
    width: 20vh;
/* --------------------------------------- */
/* --------------------------------------- */
    height: 5vh;
/* --------------------------------------- */
    float: left;
/* --------------------------------------- */ 
    /*background-color: orange;*/
/* --------------------------------------- */ 
    }
/* --------------------------------------- */
.NEXT-ACTIVE-PAGE, .NEXT-INACTIVE-PAGE
    {
/* --------------------------------------- */
/* --------------------------------------- */ 
    width: 20vh;
/* --------------------------------------- */
/* --------------------------------------- */
    height: 5vh;
    float: left;
/* --------------------------------------- */ 
    /*background-color: red;*/
/* --------------------------------------- */ 
    }
/* --------------------------------------- */
.A-TXT-G, .A-TXT-D{
    width: auto; 
    height: 5vh;
/* --------------------------------------- */
    /*font-size: 3vh; */
    /*font-weight: 900;*/
/* --------------------------------------- */
    line-height: 5vh;
/* --------------------------------------- */
    color: white;
    font-weight: 900;
/* --------------------------------------- */
    /*background-color: blue;*/
/* --------------------------------------- */
    }
/* --------------------------------------- */
.A-TXT-G{float: left;}
/* --------------------------------------- */
.A-TXT-D{float: right;}
/* --------------- FLECHES --------------- */
.D,.G{
    width: 4vh; 
    height: 5vh;
/* --------------------------------------- */
    /*background-color: black;*/
/* --------------------------------------- */
    }
/* --------------------------------------- */
.D{
    color: rgb(90,90,90);
    /*font-size: 2.6vh;*/
    /*line-height: 5vh;*/
    font-weight: 100;
/* ------ smooth hover effect ------------ */
    transition: 0.4s;
/* --------------------------------------- */
    float: right;
/* --------------------------------------- */
    }
.G{
    color: rgb(150,150,150);
    /*font-size: 2.6vh;*/
    /*line-height: 5vh;*/
    /*font-weight: 100;*/
/* ------ smooth hover effect ------------ */
    transition: 0.4s;
/* --------------------------------------- */
    float: left;
/* --------------------------------------- */
    }
/* ---------------- HOVER ---------------- */
/* --------------------------------------- */
.PREVIOUS-INACTIVE-PAGE a, .NEXT-INACTIVE-PAGE a{
    color: rgb(150,150,150);
    }
/* --------------------------------------- */ 
.PREVIOUS-ACTIVE-PAGE a, .NEXT-ACTIVE-PAGE a{
    /*color: rgb(90,90,90);*/
    color: rgb(250, 130, 2);
    text-shadow: 1px 0 0 rgb(0,0,0), -1px 0 0 rgb(0,0,0), 0 1px 0 rgb(0,0,0), 0 -1px 0 rgb(0,0,0), 
    1px 1px 0 rgb(0,0,0), -1px -1px 0 rgb(0,0,0), 1px -1px 0 rgb(0,0,0), -1px 1px 0 rgb(0,0,0);
    font-weight: 900;
    }
/* --------------------------------------- */ 
.PREVIOUS-ACTIVE-PAGE a:hover, .NEXT-ACTIVE-PAGE a:hover, .D a:hover, .G a:hover{
    color: rgb(255,255,255);
    text-shadow: 1px 0 0 rgb(168,184,159), -1px 0 0 rgb(168,184,159), 0 1px 0 rgb(168,184,159), 0 -1px 0 rgb(168,184,159), 
    1px 1px rgb(168,184,159), -1px -1px 0 rgb(168,184,159), 1px -1px 0 rgb(168,184,159), -1px 1px 0 rgb(168,184,159)

    ,1px 0 25px rgb(168,184,159), -1px 0 25px rgb(168,184,159), 0 1px 25px rgb(168,184,159), 0 -1px 25px rgb(168,184,159), 
    1px 1px 25px rgb(168,184,159), -1px -1px 25px rgb(168,184,159), 1px -1px 25px rgb(168,184,159), -1px 1px 25px rgb(168,184,159)

    ,1px 0 45px rgb(168,184,159), -1px 0 45px rgb(168,184,159), 0 1px 45px rgb(168,184,159), 0 -1px 45px rgb(168,184,159), 
    1px 1px 45px rgb(168,184,159), -1px -1px 45px rgb(168,184,159), 1px -1px 45px rgb(168,184,159), -1px 1px 45px rgb(168,184,159)
    }
/* --------------------------------------- */ 

/* --------------------------------------- *//* --------------------------------------- */
/* ----------- ANIMATION FOOTER ---------- *//* --------------------------------------- */
/* ------------ DELAI : 0.0S ------------- *//* --------------------------------------- */
/* ------------ DUREE : 6.0S ------------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
footer{
        -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    animation-duration: 1.5s;
    animation-name: FOOTER-ANIM;
    animation-timing-function: linear;
    animation-fill-mode: forwards;  
    }
@keyframes FOOTER-ANIM {
    0%   {opacity: 0;}
    100% {opacity: 1;}
    }
/* --------------------------------------- *//* --------------------------------------- */
/* ----------- FIN ANIMATION FOOTER ------ *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */

/* --------------------------------------- */
/* ------------ FIN FOOTER --------------- */
/* --------------------------------------- */

/* --------------------------------------- *//* --------------------------------------- */
/* ------------ RESPONSIVE --------------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */

/* --------------------------------------- *//* --------------------------------------- */
/* ------------ RESPONSIVE PORTRAIT ------ *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
@media screen and (orientation: portrait) and (min-width: 240px) and (max-width: 823px) {
/* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
/* ------------ HEADER PORTRAIT ---------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
.TITLE i, .D i{font-size: 4.5vw;}
#MENU p{font-size: 3.5vw;/*line-height: 2.6vw;*/} 
.DEROULANT a{font-size: 3.5vw; line-height: 3vw; margin: 1vw 0 1vw 0;}
/* --------------------------------------- *//* --------------------------------------- */
#SPE-FRED{
    background-image: url("fred_imgs/idiotes_portrait.jpg");
    background-size: auto 100%;
    background-position: left bottom;
    }
/* --------------------------------------- *//* --------------------------------------- */
/* ------------- MAIN PORTRAIT ----------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */  
main{width: 100vw; 
    top: 10vh
/* --------------------------------------- */
    /*background-color: yellow;*/
/* --------------------------------------- */
    }
/* --------------------------------------- */
h1 {font-size: 10vw; line-height: 10vw;
/* --------------------------------------- */ 
    height: 14vw;}
/* --------------------------------------- *//* --------------------------------------- */
/* ------------ FOOTER PORTRAIT ---------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
footer{width: 100vw;}
/* --------------------------------------- */
footer a, footer p, footer i{font-size: 3.5vW;}
/* --------------------------------------- */
.FOOTER-LVLTWO{width: 100vw;}
/* --------------------------------------- */  
.CONTACT, .COPYRIGHT{width: 28vw;}
/* --------------------------------------- */
.PREVIOUS-ACTIVE-PAGE, .PREVIOUS-INACTIVE-PAGE{width: 22vw;}
/* --------------------------------------- */
.NEXT-ACTIVE-PAGE, .NEXT-INACTIVE-PAGE{width: 22vw;}
/* --------------------------------------- */
}
/* --------------------------------------- *//* --------------------------------------- */
@media screen and (orientation: portrait) and (min-width: 240px) and (max-width: 1024px){
/* --------------------------------------- *//* --------------------------------------- */
/* ------------ HEADER PORTRAIT ---------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
.TITLE i, .D i{font-size: 4.5vw;}
#MENU p{font-size: 3.5vw;/*line-height: 2.6vw;*/} 
.DEROULANT a{font-size: 3.5vw; line-height: 3vw; margin: 1vw 0 1vw 0;}
/* --------------------------------------- *//* --------------------------------------- */
#SPE-FRED{
    background-image: url("fred_imgs/idiotes_portrait.jpg");
    background-size: auto 100%;
    background-position: left bottom;
    }
/* --------------------------------------- *//* --------------------------------------- */
/* ------------- MAIN PORTRAIT ----------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
main{position: absolute; top: 10vh}
/* --------------------------------------- */
    /*background-color: yellow;*/
/* --------------------------------------- */
h1 {font-size: 10vw; line-height: 10vw;
/* --------------------------------------- */ 
    height: 14vw; /*width: 80%*/;
    /*top: 30%*/;
    left: 0;}
/* --------------------------------------- *//* --------------------------------------- */
/* ------------ FOOTER PORTRAIT ---------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */
footer{width: 100vw;}
/* --------------------------------------- */
footer a, footer p, footer i{font-size: 3.5vW;}
/* --------------------------------------- */
.FOOTER-LVLTWO{width: 100vw;}
/* --------------------------------------- */  
.CONTACT, .COPYRIGHT{width: 26vw;}
/* --------------------------------------- */
.PREVIOUS-ACTIVE-PAGE, .PREVIOUS-INACTIVE-PAGE{width: 24vw;}
/* --------------------------------------- */
.NEXT-ACTIVE-PAGE, .NEXT-INACTIVE-PAGE{width: 24vw;}
/* --------------------------------------- */
}
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
@media screen and (orientation: landscape) and (min-width: 320px) and (max-width: 1366px){
/* --------------------------------------- */
/* ----------- MAIN ---------------------- */

/* ----------- FIN MAIN ------------------ */
/* --------------------------------------- */
#SPE-FRED{   
    background-size: 100% 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    }
}
/* --------------------------------------- */

/* --------------------------------------- *//* --------------------------------------- */
/* ------------ FIN RESPONSIVE ----------- *//* --------------------------------------- */
/* --------------------------------------- *//* --------------------------------------- */

/* --------------------------------------- */
/* ------------ 2021/04 ------------------ */
/* --------------------------------------- */